@charset "utf-8";
/* CSS Document */

.logoIndex{
	width:476px;
	height:244px;
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
}

@media screen and (min-width: 485px) and (max-width: 766px) {
	
	.logoIndex{
		width:400px;
		height:200px;
	}
}

@media screen and (min-width: 325px) and (max-width: 480px) {
	
	.logoIndex{
		width:318px;
		height:160px;
	}
}

@media (max-width: 320px) {
	.logoIndex{
		width:300px;
		height:150px;
	}
}

